# Compiled Class File
*.class

# BlueJ Files
*.ctxt

# Ini Files
*.ini

# Toml files
*.toml

# Csv Files
*.csv

# Deb files
*.deb

# Exe files
*.exe

# Mobile Tools For Java (J2ME)
*.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.rar

# Virtual Machine Crash Logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
